:root {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    scrollbar-width: none;
}

.parent {
    position: relative;
}

.main {
    height: 100vh;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0px;
    border: 0px;
    z-index: 1;
    position: sticky;
    top: 0;
    overflow: hidden;

}

.flairImg {
    height: 60px;
}

.flairText {
    font-size: 75px;
    margin: 0px;
}

p {
    margin: 0px;
}

.startButton {
    border: 0px;
    border-radius: 40px;
    height: 40px;
    width: 90px;
    background-color: #bae7e5;
    color: rgb(0, 0, 0);
}

.startButton:hover {
    background-color: #698d8b;
    color: white;
    cursor: pointer;
}

.child {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 2;
}

.fake {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: none;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

.backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.info {
    min-height: 100vh;
    top: 0;
    font-size: 20px;
    color: rgb(144, 144, 144);
    position: sticky;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    padding: 40px 20px;
}

.info > p {
    color: rgba(255, 255, 255, 0.84);
}

.info2{
    min-height: 100vh;
    top: 0;
    font-size: 20px;
    color: rgb(144, 144, 144);
    position: sticky;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(505px);
    padding: 40px 20px;
}

.info3{
    min-height: 100vh;
    top: 0;
    font-size: 20px;
    color: rgb(144, 144, 144);
    position: sticky;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(0px);
    padding: 40px 20px;  
}